name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ozng
          filename: github-metrics.svg
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_limit: 8
